.todolist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
  height: 100%;
  position: relative;
  box-shadow: 0 0 8px 4px #1d318a;
  padding-top: 12px;
}
.isDragging {
  opacity: 0.4;
}
